<!DOCTYPE html>
<html lang="en-ca">

<head>
  <meta charset="utf-8">
  <title>SaNdBoX</title>
  <meta name="description" content="Messing around">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="google-site-verification" content="RTAbS9mNZpfP9lD1OC2SQB7dII6YLxPGYYSfcS0dFhY" />
  <link href="{{ site.baseurl }}/css/type.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/grid.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/modules.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/colors.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Martel+Sans:300,700" rel="stylesheet">

  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <meta name="description" content="Studio N 2017 Grad Website, team lead.">


</head>
